/* Dashboard Base */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #1b0088;
  border-bottom: #ed1650 solid 3px;
  width: 306px;
  min-width: 306px;
  padding: 56px 43px 43px 29px;
  color: white;
  display: flex;
  flex-direction: column;
}

.navbar h1 {
  text-align: center;
}

.navbar h2 {
  font-size: 25px;
  border-bottom: 3px solid #ed1650;
  padding-bottom: 13.5px;
  background-image: url("../img/icons/icon-collapse.svg");
  background-repeat: no-repeat;
  background-position: right 14px;
  background-size: auto;
}

.navbar a {
  color: white;
}

.navbar div {
  margin-top: 41.6px;
  padding: 28.4px 0 28.4px 28.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar div p {
  margin-left: 13px;
}

.navbar li {
  margin-top: 32.8px;
  font-weight: bold;
  font-size: 16px;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12.5px;
}

.navbar li li :first-child {
  background-image: url("../img/icons/icon-report.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position: left center;
  background-size: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar li li {
  border-bottom: 3px solid #00afa9;
  margin-left: 17px;
  font-size: 16 px;
  margin-top: 13.5px;
  font-weight: bold;
  padding-bottom: 12.5px;
}

.navbar div {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.navbar a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .logout {
  margin-top: auto;
  justify-content: center;
  background-image: url("../img/icons/Icon-sign-off.svg");
  background-repeat: no-repeat;
  background-position: 73% center;
}

.content {
  width: calc(100% - 306px);
}

.menu-top {
  background-color: #0c013b;
  color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0 15px 0 19px;
  height: 48px;
  box-shadow: 0px 3px 6px #00000059;
}

.menu-top p {
  width: 35px;
  text-align: right;
  background-image: url("../img/icons/Icon-material-settings.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15px;
}

.main {
  display: inline-flex;
  flex-direction: row;
  max-width: 100%;
  height: calc(100% - 48px - 82px);
}

.bienvenido-img {
  width: 418px;
  height: 77px;
  margin: auto;
  margin-left: 134px;
}

/* End Dashboard */

.submenu {
  background-color: #fff;
  height: 81px;
  display: flex;
  align-items: center;
  font-weight: normal;
  border-bottom: 1px solid #ed1650;
  padding-left: 30px;
}

.submenu h3 {
  font: normal 24px Arial;
  color: #000000;
}

.categories {
  width: 237px;
  background-color: #fff;
  margin: 18.5px auto 18px 16px;
  box-shadow: 0px 2px 6px #00000059;
}

.categories h4 {
  margin-left: 18px;
  margin-top: 15px;
  color: #1b0088;
  font-size: 22px;
  font-family: Arial black;
}

.categories ul {
  border: 1px solid black;
  margin: 9px 11px;
  display: flex;
  flex-wrap: wrap;
  padding: 41px 15px auto 33px;
  height: 537px;
}

.categories li {
  list-style: none;
  font-size: 11px;
  flex: 50%;
  text-align: center;
  max-height: 72px;
  width: 70px;
  margin-top: 19px;
  padding-top: 55px;
  background-image: url("../img/icons/icon-folder.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.categories li a {
  padding-top: 40px;
  max-height: 70px;
  max-width: 65px;
  color: #333333;
}

.report-detail {
  /* Aquí hice "trampa" */
  width: 700px;
  background-color: #fff;
  margin: 18.5px 16px 18px 16px;
  box-shadow: 0px 2px 6px #00000059;
}

.report-detail :only-child {
  margin-top: 260px;
  margin-left: 94px;
  color: #1d0088;
  font-size: 23px;
}
