* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1b0088;
  color: #fff;
  font: bold 61px/70px Arial;
  display: -webkit-box;
  height: 100vh;
}

.centered {
  margin: auto;
  text-align: center;
}

h1 {
  font: normal bold 61px Arial;
  margin: 17px;
}

.icon-people {
  display: block;
  margin: 32px auto;
  content: url("../img/icons/people.png");
  height: 91px;
  width: 91px;
}

a {
  margin: 11px auto;
  width: 70px;
  height: 20px;
  font: bold 18px/21px Arial;
  padding: 9px 34px 8px 39px;
  background-color: #fff;
  color: #1b0088;
  border-radius: 5px;
  text-decoration: none;
}
